PORT=8080
NODE_ENV=development
DATABASE_URL=

# Supabase Postgres connection string with pgbouncer for connection pooling
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE=
SUPABASE_JWT_SECRET=

# frontend client
FRONTEND_URL=http://localhost:3000
